@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin, subtle scrollbars – like macOS */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 9999px;
}